<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        * {
            margin: 10px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
    {{template "bgc" .}}
</head>

<body>
    <div class="container text-center card" style="width: 80%;">
        <div class="card-body">
            {{if .article}}
            <h5 class="card-title">{{.article.Title}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">作者: {{.article.User.Username}}, 发布时间:
                {{.article.UpdatedAt.Format "2006-01-02"}}</h6>
            <div class="card-text">{{.article.Content}}</div>
            {{else}}
            <div class="card-text">暂无数据</div>
            {{end}}

            {{if and .user_id (eq .user_id .article.UserID)}}
            <a href="/articles/{{.article.Id}}/edit"
                class="card-link link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">编辑</a>
            <a href="/articles/{{.article.Id}}" id="delete-link"
                class="card-link link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">删除</a>
            {{end}}
            <a href="/"
                class="card-link link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">返回文章列表</a>
            {{if .article.Category.Name}}
            <a href="/?category={{.article.Category.ID}}"
                class="card-link link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">分类：{{.article.Category.Name}}</a>
            {{end}}
        </div>
    </div>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script>
        const deleteLink = document.getElementById('delete-link');
        deleteLink.addEventListener('click', function (e) {
            e.preventDefault(); // 阻止默认的链接跳转

            const url = this.getAttribute('href'); // 获取链接的URL

            if (confirm('确定要删除这篇文章吗？')) {
                fetch(url, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        // 如果需要CSRF令牌，可以在这里添加
                        // 'X-CSRF-Token': 'your-csrf-token'
                    }
                })
                    .then(response => {
                        // 检查响应状态
                        if (!response.ok) {
                            throw new Error(`HTTP错误! 状态: ${response.status}`);
                        }
                        return response.json(); // 解析JSON响应
                    })
                    .then(data => {
                        // 显示成功消息
                        alert(data.message);
                        window.location.href = '/articles'; // 跳转到文章列表
                    })
                    .catch(error => {
                        console.log(error.message);
                        alert("无权操作此文章");
                    });
            }
        });
    </script>
</body>

</html>