{{define "navbar"}}
{{template "bgc" .}}
<link rel="stylesheet" href="/static/css/style.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">
            <img src="/static/images/logo.jpg" alt="Logo" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ if eq .CurrentPath "/admin/categories" }}active{{ end }}"
                        href="/admin/categories">文章类别管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ if eq .CurrentPath "/admin/users" }}active{{ end }}"
                        href="/admin/users">用户管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">返回</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
{{end}}